<div class="ranking">
    <div class="podio">
        <div class="degrau second">
            <img src="user1.jpg" alt="Segundo Lugar" class="circle-img">
            <div id="segundoColocado">Usuário 1</div>
            <div class="pontuacao">950 Pontos</div>
        </div>
        <div class="degrau first">
            <img src="user2.jpg" alt="Primeiro Lugar" class="circle-img">
            <div id="primeiroColocado">Usuário 2</div>
            <div class="pontuacao">1000 Pontos</div>
        </div>
        <div class="degrau third">
            <img src="user3.jpg" alt="Terceiro Lugar" class="circle-img">
            <div id="terceiroColocado">Usuário 3</div>
            <div class="pontuacao">900 Pontos</div>
        </div>
    </div>

    <table border="3" cellpadding="10" cellspacing="5" class="table-ranking">
        <thead>
            <tr>
                <th>Colocação</th>
                <th>Foto de Perfil</th>
                <th>Nome de Usuário</th>
                <th>Pontos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="primeiroColocado">1</td>
                <td id="primeiroColocado"><img src="user2.jpg" alt="Foto de Perfil 1" width="50" class="circle-img">
                </td>
                <td id="primeiroColocado">Usuário 1</td>
                <td id="primeiroColocado">1000</td>
            </tr>
            <tr>
                <td id="segundoColocado">2</td>
                <td id="segundoColocado"><img src="user1.jpg" alt="Foto de Perfil 2" width="50" class="circle-img"></td>
                <td id="segundoColocado">Usuário 2</td>
                <td id="segundoColocado">950</td>
            </tr>
            <tr>
                <td id="terceiroColocado">3</td>
                <td id="terceiroColocado"><img src="user3.jpg" alt="Foto de Perfil 3" width="50" class="circle-img">
                </td>
                <td id="terceiroColocado">Usuário 3</td>
                <td id="terceiroColocado">900</td>
            </tr>
            <tr>
                <td>4</td>
                <td><img src="user4.jpg" alt="Foto de Perfil 4" width="50" class="circle-img"></td>
                <td>Usuário 4</td>
                <td>850</td>
            </tr>
            <tr>
                <td>5</td>
                <td><img src="user5.jpg" alt="Foto de Perfil 5" width="50" class="circle-img"></td>
                <td>Usuário 5</td>
                <td>800</td>
            </tr>
            <tr>
                <td>6</td>
                <td><img src="user6.jpg" alt="Foto de Perfil 6" width="50" class="circle-img"></td>
                <td>Usuário 6</td>
                <td>750</td>
            </tr>
            <tr>
                <td>7</td>
                <td><img src="user7.jpg" alt="Foto de Perfil 7" width="50" class="circle-img"></td>
                <td>Usuário 7</td>
                <td>700</td>
            </tr>
            <tr>
                <td>8</td>
                <td><img src="user8.jpg" alt="Foto de Perfil 8" width="50" class="circle-img"></td>
                <td>Usuário 8</td>
                <td>650</td>
            </tr>
            <tr>
                <td>9</td>
                <td><img src="user9.jpg" alt="Foto de Perfil 9" width="50" class="circle-img"></td>
                <td>Usuário 9</td>
                <td>600</td>
            </tr>
            <tr>
                <td>10</td>
                <td><img src="user10.jpg" alt="Foto de Perfil 10" width="50" class="circle-img"></td>
                <td>Usuário 10</td>
                <td>550</td>
            </tr>
            <tr>
                <td>11</td>
                <td><img src="user11.jpg" alt="Foto de Perfil 11" width="50" class="circle-img"></td>
                <td>Usuário 11</td>
                <td>500</td>
            </tr>
        </tbody>
    </table>
</div>