<main class="alinhar">
    <div class="Principal">

        <div class="titulo">
            <p>CADASTRO ATHENA.DEV</p>
        </div>
        <div class="cadastro">

            <div id="img_user">
                <img src="icone_perfil.png" alt="Icone_Usuário" id="User">
                <button id="Carregar">Carregar Imagem</button>
            </div>

            <div id="formCad">
                <form>
                    <label for="email">E-mail:</label>
                    <input id="email" type="text">

                    <label for="senha">Senha:</label>
                    <input id="senha" type="password">

                    <label for="confirmacao">Confirme sua senha:</label>
                    <input id="confirmacao" type="password">
                </form>
            </div>


        </div>
        <div class="cadastroButons">
            <button class="buton"><a href="Login.html">Já sou cadastrado</a></button>
            <button class="buton" id="finalizarCadastro">Finalizar Cadastro</button>
        </div>

    </div>

</main>