<div class="desafios">
  <section class="level-section">
    <h1>Iniciante</h1>

    <div class="challenge inic">
      <span>Estilizar uma header</span>

      <button class="codar-btn">CODAR</button>
    </div>

    <div class="challenge inic">
      <span>Estilizar uma sidebar</span>

      <button class="codar-btn">CODAR</button>
    </div>

    <div class="challenge inic">
      <span>Criar efeito paralax</span>

      <button class="codar-btn">CODAR</button>
    </div>
  </section>

  <section class="level-section">
    <h1>Intermediário</h1>

    <div class="challenge intermed">
      <span>Desafio intermediário</span>

      <button class="codar-btn">CODAR</button>
    </div>

    <div class="challenge intermed">
      <span>Desafio Intermediário</span>

      <button class="codar-btn">CODAR</button>
    </div>

    <div class="challenge intermed">
      <span>Desafio Intermediário</span>

      <button class="codar-btn">CODAR</button>
    </div>
  </section>

  <section class="level-section">
    <h1>Avançado</h1>

    <div class="challenge avan">
      <span>Desafio Avançado</span>

      <button class="codar-btn">CODAR</button>
    </div>

    <div class="challenge avan">
      <span>Desafio Avançado</span>

      <button class="codar-btn">CODAR</button>
    </div>

    <div class="challenge avan">
      <span>Desafio Avançado</span>

      <button class="codar-btn">CODAR</button>
    </div>
  </section>
</div>