<section class="help-section">
  <h1>COMO PODEMOS AJUDAR?</h1>
  <div class="search-box">
    <input type="text" placeholder="Informe sua dúvida..." />
    <button type="submit">&#128269;</button>
  </div>
  <h2>DÚVIDAS FREQUENTES</h2>
  <br />
  <div class="faq">
    <div class="faq-item">
      <h3>O SITE É PAGO?</h3>
      <p style="font-family: Roboto">
        Não, o site é totalmente gratuito para os usuários.
      </p>
    </div>
    <div class="faq-item">
      <h3>COMO POSSO APOIAR O SITE?</h3>
      <p style="font-family: Roboto">
        Você pode nos apoiar entrando em contato conosco ou enviando um valor em
        dinheiro.
      </p>
    </div>
    <div class="faq-item">
      <h3>QUAL O OBJETIVO DO SITE?</h3>
      <p style="font-family: Roboto">
        Nosso objetivo é facilitar e tornar mais divertido o aprendizado da
        programação.
      </p>
    </div>
  </div>
</section>
