<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">
    <img alt="Athena logo" src="logo.png"/>
    ATHENA.DEV
   </a>
   <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
    <span class="navbar-toggler-icon">
    </span>
   </button>
   <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
     <li class="nav-item">
      <a class="nav-link" href="#">
       DESAFIOS
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">
       GAMES
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">
       RECURSOS
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">
       POSTS
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="#">
       ENTRAR
       <i class="fas fa-user-circle">
       </i>
      </a>
     </li>
    </ul>
   </div>
  </div>
 </nav>
