<div class="recursos">
  <div class="container-fluid">
    <div class="principal1">
      <div>
        <h1 class="titulos">Download IDE</h1>
        <a href="https://code.visualstudio.com/docs/setup/setup-overview" class="btn btn-primary" target="_blank">
          Visual Studio Code
        </a>
        <a href="https://marketplace.visualstudio.com/vscode" class="btn btn-primary" target="_blank">+ Extensões</a>
      </div>
      <div>
        <h1 class="titulos">Tutoriais</h1>
        <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML" class="btn btn-primary" target="_blank">O que é
          HTML?
        </a>
        <a href="https://docs.oracle.com/javase/tutorial/" class="btn btn-primary" target="_blank">Java Básico</a>
      </div>
    </div>
  </div>
</div>