<main class="login">

    <div class="Principal centralizar">
        <div id="textoLogin" class="login">
            <p id="legenda">LOGIN ATHENA.DEV</p>
        </div>

        <div id="formLog">
            <form>
                <label>E-mail:</label>
                <input id="email" type="text">

                <label>Senha:</label>
                <input id="senha" type="password">
            </form>
        </div>

        <div class="LoginButons">
            <button class="buton">LOGIN</button>
        </div>

        <button class="buton"><a href="Cadastro.html">CADASTRAR</a></button>

        <div>
            <a id="esqueceuSenha" href="recuperar_senha.html">Esqueci minha senha</a>
        </div>
    </div>

</main>